<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Успешно!</title>
</head>
<body>
Ваша новость добавлена. Вы будете автоматически перенаправлены на главную страницу
<script src="public/scripts/posts/redirect.js">
</script>
<script>
    const myLocation = window.location.host;
    setTimeout(() => {
        window.location = `http://${myLocation}`;
    }, 3000);
</script>
</body>
</html>